<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pastesheet Form</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<form th:action="@{/create_pastesheet}" th:object="${pastesheet}" method="post">
    <div style="margin:35px;">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" th:field="*{title}"><br>
    </div>
    <div style="margin:35px;">
    Content:<br>
    <textarea class="longInput" style="resize:none;width:500px;height:500px;" name="content" th:field="*{content}"></textarea>
    </div>
    <div style="margin:35px;">
        <button style="margin-right:15px;" type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
</body>
</html>